.App {
  text-align: center;
}

header {
  border: 2px solid blue;
  background-color: #06D6A0;
}

nav {
  border: 2px solid greenyellow;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.nav > li {
  margin: 1rem;
  list-style: none;
}

.articles {
  text-align: justify;
  background-color: #F4F4F9;
}

.articles > ul {
  padding-left: 0;
}

.article-card {
  padding: 0;
  padding-bottom: 0.7rem;
  margin: 0.5rem;
  border: 2px solid #F95738;
  border-radius: 0.5rem;
  list-style: none;
}

article > h2 {
  margin: 1rem;
}

.article-info {
  display: flex;
}

.article-info > p {
  flex-wrap: wrap;
}

.article-info > p {
  margin: 4px 1rem;
  list-style: none;
}

.error {
  border: 2px solid red;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  /* css for desktop here */
}