* {
  padding: 0;
}

.App {
  text-align: center;
}

header {
  border: 2px solid blue;
  background-color: #06d6a0;
}

nav {
  border: 2px solid greenyellow;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.nav > li {
  margin: 1rem;
  list-style: none;
}

.articles,
.article {
  text-align: justify;
  background-color: #f4f4f9;
}

.articles > ul {
  padding-left: 0;
}

.article-card,
.comment-card {
  padding: 0;
  padding-bottom: 0.7rem;
  margin: 0.5rem;
  border: 2px solid #f95738;
  border-radius: 0.5rem;
  list-style: none;
}

.article {
  /* border: 2px solid red; */
  margin: 0.5rem;
}

article > h2 {
  margin: 1rem;
}

.article-info {
  display: flex;
  justify-content: space-around;
}

.article-info > p {
  flex-wrap: wrap;
  margin: 4px 1rem;
  list-style: none;
}

.article-body {
  /* border: 2px solid red; */
  padding: 1rem;
  margin: 0;
  line-height: 1.3;
}

.error {
  border: 2px solid red;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.success {
  border: 2px solid green;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.vote {
  display: flex;
  padding: 0;
  margin: 0;
}

.vote > p {
  margin: 1rem 10px;
}

.vote-button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.comments {
  /* border: 2px solid red; */
  margin: 1rem;
}

.comments > p {
  margin: 1rem;
}

.comments-count {
  display: flex;
  justify-content: flex-start;
}

.comments-count > span {
  margin: 15px 5px ;
}

.comment-info {
  margin: 1rem;
  list-style: none;
}

.comment-info > li {
  padding-bottom: 0.5rem;
}

.comment-body {
  margin: 1rem;
  margin-top: 0;
}

.comment-body > p {
  line-height: 1.3;
}

.comment-form {
  display: flex;
}

.comment-form > form > textarea {
  width: 23rem;
  height: 15rem;
}

form > button {
  padding: 10px;
  margin-left: 15rem;
}

.comment-form > form > label, input, textarea, button {
  margin: 0.4rem;
}

@media only screen and (min-width: 600px) {
  /* css for desktop here */
  .comment-info {
    display: flex;
    list-style: none;
  }

  .comment-info > li {
    padding: 1rem;
  }

  .comment-body > p {
    margin-top: 0;
  }
}
